<div id="main" class="container-fluid">
  <div class="row">
    <div id="details" class="col-sm-6 pb-3 pt-3 border border-dark rounded controls">
      <app-details></app-details>
    </div>
    <div id="controls" class="col-sm-6 pb-3 border border-dark rounded controls">
        <app-controls (sortPlayers)="overview.sortPlayers($event)"></app-controls>
    </div>
    <div id="overview" class="container col-sm-12 border border-dark rounded">
        <app-overview></app-overview>
    </div>
  </div>
  <div id="submitModal" class="modal">
</div>


