<div id="main" class="container-fluid">
  <div class="row">
    <app-details id="details" class="col-sm-6 pb-3 pt-3 border border-dark rounded controls"></app-details>
    <app-controls id="controls" class="col-sm-6 pb-3 border border-dark rounded controls">
      <div id="controls-row" class="row controls-row"></div>
    </app-controls>
    <app-overview id="overview" class="container col-sm-12 border border-dark rounded">
      <div class="row overview-row pb-3"></div>
    </app-overview>
  </div>
  <div id="submitModal" class="modal">
</div>


