<div class="row">
  <header id="header" class="col-sm-12 mt-4 pt-2">
      <h3 class="font-weight-normal">The Card Game</h3>
  </header>
</div>
<hr/>
<div class="row">
  <div class="col-md-6 mb-2">
    <h3 class="font-weight-normal">Players</h3>
  </div>
  <div class="col-md-6 d-flex justify-content-md-end">
    <app-controls [currentSortDirection]="sortDirection"></app-controls>
  </div>
  <app-card *ngFor="let player of players | async | orderBy: (sortOrder || 'realName')"
            [player]="player"
            class="col-sm-6 col-md-4 mt-4 d-flex align-items-stretch">
  </app-card>
</div>




